[submodule "common"]
	path = common
	url = https://github.com/osuripple/ripple-python-common.git
[submodule "secret"]
	path = secret
	url = https://github.com/osufx/secret.git
[submodule "pp/oppai-ng"]
	path = pp/oppai-ng
	url = https://github.com/Francesco149/oppai-ng.git
[submodule "pp/maniapp-osu-tools"]
	path = pp/maniapp-osu-tools
	url = https://github.com/Francesco149/oppai-ng.git
	branch = calc-no-replay
[submodule "pp/catch_the_pp"]
  path = pp/catch_the_pp
  url = https://github.com/light-ripple/catch-the-pp.git
