-i https://p.nyodev.xyz
tornado==4.4.2
progressbar2==3.38.0
raven==5.32.0
datadog==0.14.0
bcrypt==3.1.1
Cython==0.27.3
requests==2.20.0
redis==2.10.5
dill==0.2.7.1
python-decouple==3.1
boto3==1.9.169
timeout-decorator==0.4.1
pymysql==0.9.3
pymysql-pool==0.3.3
oppai==103.3.3
prometheus-client==0.8.0